.container {
    padding: 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
}

.videoPreview {
    width: 100%;
    position: relative;
    height: 720px;
}


@media (max-width: 450px) {

    .container {
        padding: 1.875rem;
        padding-top: 0rem;
    }

    .videoPreview {
        height: 170px;
    }

}