.container {
    padding: 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
}

.section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.list {
    margin-top: 1rem;
}

.list>div {
    padding-left: 2.06rem;
    border-left: 1px solid #E3E3E3;
}

.list>*+* {
    margin-top: 1.312rem;
}


.compTitle {
    background: -webkit-linear-gradient(#37459C, #B13995);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.312rem;
}

@media (max-width: 450px) {

    .container {
        padding: 1.875rem;
        padding-top: 0px;
    }

    .section {
        display: block;
        width: 100%;
    }

    .list {
        margin-top: 0.31rem;
    }

    .list>div {
        padding-left: 0;
        border-left: 0;
    }

    .list>*+* {
        margin-top: 1.5rem;
    }

    .compTitle {
        margin-bottom: 0.5rem;
    }




}