.container {
    max-width: 100%;
    padding: 2.15rem 4rem 4.25rem 4rem;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.81rem;
}

.gradBorder {
    margin-bottom: 1.18rem;
}

.subtext {
    margin-top: 4.81rem;
    margin-bottom: 2.5rem;
}

.steps {
    counter-reset: my-awesome-counter;
    list-style: none;
    margin-left: 2.8125rem;
}

.steps li {
    counter-increment: my-awesome-counter;
    position: relative;
    list-style-position: inside;
    text-indent: -1.9rem;
}

.steps li::before {
    content: counter(my-awesome-counter);

    border-right: 1px solid #5E79FB;
    padding-right: 0.93rem;

    text-align: center;
    margin-right: 0.93rem;

}


.steps>*+* {
    margin-top: 2.625rem;
}

.frontImageContainer {
    width: 917px;
    margin-top: 3.375rem;
    margin-left: 1.875rem;
    max-width: 100%;
}




@media (max-width: 450px) {
    .container {
        padding: 0 1.56rem;
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .gradBorder {
        margin-bottom: 0.875rem;
    }

    .subtext {
        margin-top: 1.125rem;
        margin-bottom: 0.875rem;
    }

    .steps {
        margin-left: 2.08rem;
        text-indent: -2rem;
    }

    .steps>*+* {
        margin-top: 0.93rem;
    }

    .steps li {
        text-indent: -1.9rem;
    }

    .frontImageContainer {
        width: 100%;
        margin-top: 3.375rem;
        max-width: 100%;
        margin-left: 0rem;
        margin-bottom: 1.875rem;
    }

}