.container {
    padding: 4.062rem;
    /* min-height: 100vh; */
    color: #000;
    font-family: 'Spezia';
    font-size: 1.5rem;
    line-height: 2.18rem;
}

.title {
    margin-bottom: 10px;
}

/* .titleBox {
    padding: 1.68rem;
} */

.info {
    position: relative;
}

.section {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}



.imageLabels {
    width: 50%;
    position: relative;
}

.imagePane {
    height: 635px;
    position: absolute;

    right: -4.062rem;
    width: 50%;
}

.imagePane>*+* {
    margin-top: 10px;
}

/* .indicatorBox {
    width: 2.5rem;
    height: 2.18rem;
    display: inline-block;
    vertical-align: top;
}

.indicator {
    width: 14px;
    height: 12px;
    display: inline-block;
} */

.accordionBox {
    position: relative;
    padding: 3.75rem 0;
    border-top: 1px solid #E3E3E3;
}

.accordionBox:last-child {
    border-bottom: 1px solid #E3E3E3;
}

.subtitle {
    width: 54rem;
    font-weight: normal;
    margin: 0 auto;
    margin-bottom: 4.375rem;
}


.accordionTitle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.description {
    margin-top: 1.31rem;
    transition: all 1sec linear;
}

.expand {
    font-size: 4rem;
    color: #5E79FB;
    font-family: 'SpeziaThin';
    cursor: pointer;
}

.shrink {
    display: none;
    font-size: 7rem;
    color: #5E79FB;
    font-family: 'SpeziaThin';
    cursor: pointer;
}

.openedBox {
    display: block;
    transition: all .5s ease-in;
}

.closedBox {
    display: none;

    transition: all .5s ease-in;
}

.mobileImagePreview {
    display: none;
}

@media (max-width: 450px) {
    .container {
        padding: 1.565rem;
        color: #000;
        font-family: 'Spezia';
        padding-bottom: 0px;
    }

    .section {
        display: block;
        width: 100%;
    }

    .imagePane {
        margin-left: 0;
        display: none;
    }

    .imageLabels {
        margin-top: 0rem;
        padding: 0;
        display: block;
        width: 100%
    }

    .imageLabels>*+* {
        margin-top: 0.5rem;
    }

    .subtitle {
        width: 100%;
        font-weight: normal;
        margin-bottom: 1.875rem;
    }

    .accordionBox {
        position: relative;
        padding: 1.875rem 0;
    }

    .shrink {
        display: inline-block;
        font-size: 4rem;
    }

    .mobileImagePreview {
        display: block;
        height: 17.25rem;
        margin-top: 1.31rem;
    }

    .accordionBox {
        position: relative;
        padding: 1.625rem 0;
    }

    .expand {
        font-size: 2.5rem;
    }



}