.container {
    max-width: 100%;
    padding: 2.15rem 4rem 4.25rem 4rem;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.81rem;
    margin-bottom: 6.75rem;
}

.gradBorder {
    margin-bottom: 1.18rem;
}

.changeLogs {
    margin-top: 4.8125rem;
}


.specialH4 {
    font-size: 0.93rem;
    font-weight: bold;
    line-height: 1.18rem;
}

.changeLogs>*+* {
    margin-top: 6.25rem;
}

.logHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
    padding-bottom: 1.06rem;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 3rem;
}

.leftSide>* {
    display: inline-block;
    vertical-align: baseline;
}

.logDate {
    font-size: 0.75rem;
    color: #3C3C3C;
    margin-left: 3rem;
}

.rightSide {
    font-size: 0.875rem;
    color: #5E79FB;
}

.downArrow {
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: baseline;

}


.updateList {
    margin-top: 0.9rem;
    list-style: none;
    margin-left: 3rem;
}

.updateList>*+* {
    margin-top: 1.31rem;
}


.updateList li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

.sha {
    margin-top: 2.56rem;
}

.hashContainer {
    margin-top: 0.875rem;
    padding: 0.81rem 0.625rem;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
}

.hash {
    font-size: 0.75rem;
    color: #3C3C3C;
}

.copySha {
    font-size: 0.875rem;
    color: #5E79FB;
    padding: 0px 1rem;
    border-left: 1px solid #5E79FB;
    cursor: pointer;
}

.extraNote {
    margin-top: 2.5rem;
}

.extraNote>h4 {
    margin-bottom: 0.6rem;
}



@media (max-width: 450px) {
    .container {
        padding: 0rem 1.56rem;
    }

    .gradBorder {
        margin-bottom: 0.875rem;
    }

    .changeLogs {
        margin-top: 1.31rem;
    }

    .rightSide {
        display: none;
    }

    .logDate {
        margin-left: 1rem;
    }

    .logHeader {
        margin-bottom: 0.93rem;
    }

    .updateList {
        margin-left: 1.9rem;
    }

    .updateList>*+* {
        margin-top: 0.5rem;
    }

    .sha {
        margin-top: 1.6rem;
    }

    .hash {
        max-width: 243px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .changeLogs>*+* {
        margin-top: 3rem;
    }

    .copySha {
        padding: 0px 0.5rem;
    }


}