.link {
    height: 90px;
}

.link>span {
    top: 41%;
    position: relative;
    left: -3px;
}

.childLinks {
    position: fixed;
    top: 90px;
    left: 0px;
    width: 100vw;
    height: 138px;
    background-color: #000;
}

.invertedLink {
    background-color: #FFF;
    padding: 10px;
    border-radius: 2px;
    color: #35459C;
}

.childLinkContainer {
    width: 70vw;
    position: fixed;
    right: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mobileCaretHolder {
    height: 7px;
    width: 12px;
    margin-right: 18px;
    display: inline-block;
}

.inlineBlock {
    display: inline-block;
}

@media (max-width: 450px) {
    .invertedLink {
        background-color: #35459C;
        color: #fff;
        width: auto;
        display: block;
        text-align: center;
        font-size: 0.812rem;
    }

    .childLinks {
        position: relative;
        top: 0px;
        width: 100%;
        margin-top: 1.31rem;
        height: auto;
    }

    .childLinkContainer {
        width: 100%;
        position: relative;
        display: block;
    }


}