.container {
    max-width: 100%;
    padding: 4.25rem 4rem;
    position: relative;
}

.gradBorder {
    margin-bottom: 1.18rem;
}

.block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.68rem;
    border-bottom: 1px solid #E3E3E3;
}

.block:last-child {
    border-bottom: none;
}

.textSection {
    width: 70%
}

.buttonBox {
    width: 30%;
    padding-top: 1.875rem;
}

.subtext {
    font-size: 1.5rem;
    line-height: 2.18rem;

}

.resources {
    margin-top: 4.81rem;
}

.resources>*+* {
    margin-top: 2.5rem;
}

.text {
    font-weight: bold;
    margin-bottom: 1.18rem;
}


.downloadButton {
    margin: 0;
}

@media (max-width: 450px) {
    .container {
        padding: 1.875rem 1.56rem;
    }

    .gradBorder {
        margin-bottom: 0.875rem;
    }


    .resources {
        margin-top: 1.312rem;
    }

    .block {
        display: block;
        padding-bottom: 1.875rem;
    }

    .textSection {
        width: 100%
    }


    .buttonBox {
        width: 100%;
        padding-top: 1rem;
    }

    .subtext {
        font-size: 1rem;
        line-height: 1.43rem;
        margin-top: 0.28rem;
    }

}