.container {
    display: inline-block;
    width: 380px;
    margin-left: 30px;
}

.imageBox {
    width: 83px;
    height: 85px;
    display: inline-block;
    vertical-align: top;
}

.descriptionBlock {
    display: inline-block;
    width: 250px;
    margin-left: 30px;
}

.label {
    font-size: 30px;
    text-transform: capitalize;
    display: inline-block;
    margin-left: 10px;
    line-height: 39px;
}

.subtitle {
    font-size: 14px;
    line-height: 19px;
}

.arrow {
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: super;
}


@media (max-width: 450px) {

    .container {
        width: auto;
        position: relative;
        padding: 1.625rem 0;
        border-bottom: 1px solid #3C3C3C;
        display: flex;
    }

    .container:first-child {
        border-top: 1px solid #3C3C3C;
    }

    .imageBox {
        min-width: 62px;
        height: 64px;
        display: inline-block;
        vertical-align: top;
    }

    .descriptionBlock {
        display: inline-block;
        width: auto;
        margin-left: 18px;
    }

    .label {
        margin-left: 0px;

    }
}