.container {
    padding: 4rem;
    color: #000;
    font-family: 'Spezia';
}

.specs {
    margin-top: 1.93rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}

.spec {
    width: 49%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    padding: 1.875rem 0;

    border-top: 1px solid #E3E3E3;
}

.set:last-child>.spec {
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 10px;
}

.label,
.value {
    position: relative;
}


.label {
    width: 38%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.937rem;
    font-family: 'SpeziaSemiBold';
}

.value {
    width: 52%;
    font-size: 1.43rem;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.value>*+* {
    margin-left: 35px;
}

.subValue {
    display: inline-block;
}

.comparisonHeaders {
    margin-top: 3.9rem;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    background: -webkit-linear-gradient(#B33A95, #754099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1.18rem;
    border-bottom: 1px solid #E3E3E3;

}

.comparisonAttr {
    font-size: 0.93rem;
    line-height: 1.18rem;
    font-weight: bold;
    font-family: 'SpeziaSemiBold';
}

.comparisonHeaders>* {
    width: 25%;
}

.comparisonRow {
    padding: 1.875rem 0;
    border-bottom: 1px solid #E3E3E3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    text-transform: uppercase;
    font-weight: bold;
}

.comparisonRow>* {
    width: 25%;
}

.variantValueRow {
    display: inline-block;
}

.mobileVariantName {
    display: none;
}

.measurements {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-top: 6.25rem;
}

.measurementImage {
    width: 381px;
    height: 415px;
    display: inline-block;
}

.additionalFeatures {
    margin-top: 5.625rem;
}

.additionalFeaturesHeading {
    margin-bottom: 1rem;
    font-family: 'Spezia';
    font-weight: bold
}

.featurelist {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
}

.featurelist>li {
    line-height: 2.32rem;
    list-style: none;
}

.featurelist>li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

@media (max-width: 450px) {
    .container {
        padding: 2rem;
        padding-bottom: 0;
    }

    .set {
        width: 100%;
    }

    .set:last-child {
        border-bottom: 1px solid #E3E3E3;
    }



    .spec {
        width: 100%;
    }

    .label,
    .value {
        width: 100%
    }

    .value {
        font-size: 0.937rem;
        margin-top: 0.62rem;
    }

    .title {
        font-size: 2.18rem;
        line-height: 2.43rem;
    }

    .set:last-child>.spec {
        border-bottom: none;
    }

    .comparisonHeaders {
        display: none;
    }

    .comparisonRow {
        padding: 0.93rem 0;
    }

    .comparisonRow>* {
        width: 100%;
    }

    .comparisonAttr {
        margin-bottom: 0.93rem;
    }

    .variantValueRow {
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    .variantValueRow>* {
        width: 50%;
    }

    .mobileVariantName {
        display: inline-block;
        background: -webkit-linear-gradient(#B33A95, #754099);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .comparisons {
        border-top: 1px solid #E3E3E3;
    }

    .measurements {
        margin-top: 1.875rem;
    }

    .measurementImage:last-child {
        display: none;
    }

    .measurementImage {
        width: 209px;
        height: 198px;
        margin: 0 auto;
    }

    .additionalFeatures {
        margin-top: 1.875rem;
    }

    .additionalFeaturesHeading {
        font-size: 1.25rem;
        line-height: 1.625rem;
        margin-bottom: 0.625rem;
    }

    .featurelist {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }


}