.container {
    padding: 4rem;
    color: #000;
    font-family: 'Spezia';
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.section {
    display: inline-block;
    width: 48%;
    /* vertical-align: top; */
}

.title {
    margin-bottom: 1.18rem;
}

.image {
    height: 550px;
    width: 100%;
    position: relative;
    right: -3px;
}

.description {
    font-size: 1.5rem;
    line-height: 2.18rem;
}

@media (max-width: 450px) {
    .container {
        padding: 2rem;
    }

    .title {
        margin-top: 1.375rem;
        font-size: 2.18rem;
        line-height: 2.43rem;
    }

    .description {
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .flexContainer {
        flex-direction: column-reverse;
        align-items: space-between;
    }

    .section {
        display: block;
        width: 100%;
    }

    .image {
        height: 280px;
        ;
        width: 100%;
    }

}