.container {
    max-width: 100vw;
    background: #fff;
    color: #000;
    font-family: 'Spezia';
    position: relative;
    padding: 99px 64px;
}

.section {
    display: inline-block;
    vertical-align: top;
    width: 42.5%;
}

.container>*+* {
    margin-left: 15%;
}

.listContainer {
    margin-top: 1.31rem;
    font-size: 1.5rem;
    line-height: 2.18rem;
    list-style: none;
}

.listContainer>*+* {
    margin-top: 1.125rem;
}



.listContainer>li:before {
    content: "*";
    display: block;
    float: left;
    width: 0.6rem;
    font-size: 0.6rem;
    margin-left: 0.5rem;

    margin-right: 0.7rem;
}


.indicator {
    width: 14px;
    height: 12px;
    display: inline-block;
    margin-right: 0.75rem;
}

.bulletText {
    display: inline-block;
    width: 90%;
    position: relative;
    vertical-align: top;
}

@media (max-width: 450px) {
    .container {
        padding: 30px 25px;
        top: 0px;
    }

    .section {
        width: 100%;
    }

    .container>*+* {
        margin-left: 0;
        margin-top: 1.875rem;
    }

    .listContainer {
        font-size: 1rem;
        line-height: 1.43rem;
    }
}