.container {
    padding: 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
    line-height: 2.18rem;
}

.gradBorder {
    margin-bottom: 1.75rem;
}

.section {
    display: inline-block;
    vertical-align: top;
}

.titleSection {
    width: 18rem;
}

.aboutSection {
    width: calc(100% - 18rem - 4.625rem);
    margin-left: 4.625rem;
}

.description>*+* {
    margin-top: 2.36rem;
}

.careersButton {
    margin-top: 1.937rem;
}

.valueSection {
    margin-top: 3.75rem;
}

.valueSectionTitle {
    margin-bottom: 2rem;
}

.values {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.valueHeading {
    font-family: 'SpeziaSemiBold';
    font-size: 0.9375rem;
}


.values>*+* {
    margin-top: 1.56rem;
}

.valueBox:nth-child(2) {
    margin-top: 0;
}

.valueBox {
    width: 45%;
    position: relative;
}



.imageBox {
    margin-top: 5.625rem;
    position: relative;
    width: 1440px;
    left: -4rem;
    height: 538px;
}





@media (max-width: 450px) {

    .container {
        padding: 1.875rem;
        padding-top: 0px;
        line-height: 1.43rem;
    }

    .titleSection {
        width: 100%;
        display: block;
    }

    .aboutSection {
        margin-left: 0;
        width: 100%;
        display: block
    }

    .description>*+* {
        margin-top: 1.36rem;
    }

    .careersButton {
        width: 100%;
        margin-top: 1.81rem;
    }

    .valueSection {
        margin-top: 1.875rem;
    }

    .valueSectionTitle {
        margin-bottom: 0.5rem;
        font-family: 'SpeziaSemiBold'
    }

    .valueBox {
        width: 100%;
    }

    .imageBox {
        margin-top: 1rem;
        position: relative;
        width: 100vw;
        left: -1.875rem;
        height: 260px;
    }

    .values>*+* {
        margin-top: 1rem;
    }

    .valueBox:nth-child(2) {
        margin-top: 1rem;
    }


}