.container {
    flex: 1;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Spezia';
    display: inline-block;
    width: 44vw;
}

.title {
    font-size: 75px;
    background: -webkit-linear-gradient(#B33A95, #754099);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shortDescription {
    font-size: 0.935rem;
    color: #35459C;
}

.specificationsContainer {
    margin-top: 10px;
    list-style-type: none;
}

.specification {
    display: block;
}

.specification:not(:last-child):after {
    content: '';
    width: 50px;
    background-color: #5E79FB;
    height: 1px;
    display: block;
    text-align: center;
    margin: 7px auto;
}

.discountTag {
    font-size: 0.625rem;
}

.imageContainer {
    position: relative;
    width: 40rem;
    height: 26.62rem;
    margin: 0 auto;
    margin-bottom: 1.375rem;
}

.buttonContainer {
    margin-top: 1.2rem;
}

.divider {
    width: 1px;
    height: 360px;
    background-color: #E3E3E3;
    display: inline-block;

}

.button {
    width: auto;
}

@media (max-width: 450px) {
    .divider {
        display: none;
    }

    .container {
        width: 100%;
        display: block;
        margin-top: 1rem;
    }

    .imageContainer {
        width: auto;
        height: 13.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .title {
        font-size: 3.125rem;
        background: -webkit-linear-gradient(#B33A95, #754099);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 3.43rem;
    }

    .specificationsContainer {
        margin-top: 1.68rem;
    }

    .specifications>*+* {
        margin-top: 0.93rem;
    }

    .button {
        margin: 0;
        width: 100%;
    }

}