.container {
    padding: 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
}

.title {
    text-align: center
}

.gradBorder {
    margin-bottom: 1.75rem;
}

.subtitle {
    text-align: center;
    max-width: 54rem;
    margin: 1.31rem auto;
}


.investorLogos {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

/* .investorLogos>*+* {
    margin-left: 2.5rem;
} */

.imageBox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    height: auto;
    margin-bottom: 4rem;
}

.investorLogo {
    margin: 0 auto;
}


@media (max-width: 450px) {

    .container {
        padding: 1.562rem;
        padding-top: 0px;
        line-height: 1.43rem;
    }

    .subtitle {
        text-align: left;
        width: 100%;
        max-width: auto;
        margin: 0.56rem auto;
    }

    .investorLogos {
        margin-top: 2.43rem;
    }

    .investorLogos {
        margin-top: 2.43rem;
        text-align: left;

    }

    .imageBox {
        width: 50%;
        margin-bottom: 1.75rem;
        text-align: left;
    }




}