.container {
    width: 100vw;
    background: #fff;
    color: #000;
    font-family: 'Spezia';
    overflow-x: hidden;
}

.invertedColorScheme {
    background: #000;
    color: #fff;
}

.heroImage {
    height: 100vh;
    width: 100vw;
    max-height: 821px;
}

.label {
    color: #FC9E21;
    font-size: 0.93rem;
}

.details {
    width: 50vw;
    float: right;
    position: absolute;
    margin-left: 50vw;
    top: 12rem;
}

.title {
    width: 15.5rem;
}

.os1Title {
    width: 18rem;
}





.body {
    font-size: 1.5rem;
    line-height: 2.18rem;
    width: 30rem;
    font-weight: bold;
    font-family: 'SpeziaThin';
    max-width: 50vw;
    padding-top: 1.75rem;
    position: absolute;
    margin-left: 50vw;
    top: 444px;
}

@media (max-width: 450px) {
    .label {
        font-size: 0.937rem;
    }

    .container {
        top: 81px;
        position: relative;
        margin-bottom: 81px;
        /* height: 20rem; */
    }

    .heroImage {
        height: 327px;
        width: 375px;
        left: 0px;
    }

    .details {
        width: 45vw;
        margin-left: 53vw;
        top: 1.875rem;
    }

    .title,
    .body {
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .body {
        padding-top: 1.875rem;
        position: absolute;
        width: 90vw;
        margin: 0 auto;
        margin: 0 auto;
        margin-top: 1.31rem;
        display: block;
        clear: both;
    }

    .os1Title,
    .os2Title {
        font-size: 1rem;
        line-height: 1.65rem;
        margin-top: 0.65rem;
        padding-top: 5px;
    }

    .os1Title {
        width: 8.6rem;
    }

    .os2Title {
        width: 7.5rem;
    }

    .body {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: bold;
        max-width: 85vw;
        position: absolute;
        top: 15rem;
        padding-top: 1rem;
        margin: 0 7.5vw;

    }

    .os2Body {
        top: 14.75rem;
        max-width: 80vw;
        margin: 0 10vw;
    }
}