.container {
    padding: 4rem;
    color: #000;
    font-family: 'Spezia';
}


.gradBorder {
    margin-bottom: 99px;
}

.pricingBox {
    width: 85%;
    margin: 0 auto;
}

.frontImage {
    display: inline-block;
    width: 450px;
    height: 610px;
}

.pricingText {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    padding-top: 7.83rem;
    margin-left: 3rem;
}

.title {
    background: -webkit-linear-gradient(#B33A95, #754099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtext {
    font-size: 1.5rem;
    line-height: 2.18rem;
    margin: 2.68rem 0;
}


.dl,
.tts {
    width: 90%;
    margin: 0
}

.dl {
    margin: 1.25rem 0;
}

@media (max-width: 450px) {
    .container {
        padding: 2rem;
        padding-bottom: 0;
    }


    .gradBorder {
        margin-bottom: 50px;
    }

    .pricingBox {
        width: 100%;
    }

    .frontImage {
        display: block;
        width: 100%;
        height: 330px;
        margin-left: -0.75rem;
        ;
    }

    .pricingText {
        width: 100%;
        padding-top: 0rem;
        margin: 0;
        text-align: center;
        margin-bottom: 1.25rem;
        ;
    }

    .subtext {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1rem auto;
        width: 70%;
    }

    .ttsContainer {
        width: 100%;
        margin-top: 3.375rem;
    }

    .dl,
    .tts {
        width: 100%;
    }

    .tts {
        margin: 1.5rem 0;
        margin-bottom: 0.937rem;
    }


}