.container {
    padding: 4.062rem;
    /* min-width: 100%; */
    color: #000;
    font-family: 'Spezia';
    position: relative;
}

.imageContainer {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 705px;
}

.description {
    width: 35%;
    margin-left: 2.06rem;
    display: inline-block;
    position: relative;
    height: 705px;
}

.title {
    margin-bottom: 29px;

}

.jobIncentive {
    font-size: 1.5rem;
    line-height: 2.18rem;
}

.button {
    margin-top: 2.5rem;
    margin-left: 0px;
    position: absolute;
    bottom: 0px;
}

.normalGrad {
    display: block;
}

.mobileGrad {
    display: none;
}



@media (max-width: 450px) {

    .container {
        padding: 1.875rem;
    }

    .imageContainer,
    .description {
        width: 100%;
        display: block;
        margin: 0;
        position: relative;
    }

    .description {
        height: auto;
    }

    .imageContainer {
        height: 271px;
    }

    .title {
        margin-top: 0.93rem;
    }

    .button {
        width: 100%;
        margin: 2.5rem 0 0
    }

    .jobIncentive {
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .normalGrad {
        display: none;
    }

    .mobileGrad {
        display: block;
    }


}