.container {
    background-color: #fff;
    color: black;
    padding: 6.25rem 4.25rem;
}

.container>*+* {
    margin-left: 4rem
}

.section {
    display: inline-block;
    width: calc((100% - 8.5rem)/3);
    vertical-align: top;
}



.title {
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 4.125rem;
    font-family: 'Spezia';
}

.list {
    margin-top: 2rem;
    line-height: 2.18rem;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;

}

.list>*+* {
    margin-top: 0.625rem;
}


.list li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

.videoPreview {
    width: 100%;
    position: relative;
    height: 17.9rem;
    background-color: #000;
}

.videoDescription {
    margin-top: 1.25rem;
    font-size: 0.875rem;
}

@media (max-width: 450px) {

    .container {
        padding: 1.18rem;
    }

    .container>*+* {
        margin-top: 1.81rem;
        margin-left: 0;
    }

    .section {
        display: block;
        width: 100%;
    }

    .title {
        font-size: 2.18rem;
        line-height: 2.43rem;
    }

    .list {
        font-family: 'SpeziaThin';
        margin-top: 1rem;
        line-height: 1.43rem;
        font-size: 1rem;
        font-weight: 600;
        list-style: none;
        padding-left: 1.25rem;
    }

    .list li::before {
        font-size: 2rem;
        display: inline-block;
        width: 0.5rem;
        position: absolute;
        left: 1.375rem;
        margin-left: 0;
    }

    .videoDescription {
        display: none;
    }

    .videoPreview {
        width: 100%;
        position: relative;
        height: 11.5rem;

    }
}