.container {
    padding: 4.06rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
}

.section {
    display: inline-block;
    width: calc((100% - 2.0625rem)/2);
    vertical-align: top;
}

.container>*+* {
    margin-left: 2.0625rem;
}


.buttonbox {
    margin-top: 1.937rem;
    text-align: center;
    position: relative;
}

.title {
    margin-bottom: 1.312rem;
}

.subtitle>*+* {
    margin-top: 2.18rem;
}

.grad {
    margin-bottom: 19px;
}

@media (max-width: 450px) {

    .container {
        padding: 1.875rem;
        padding-top: 0px;
    }

    .section {
        display: block;
        width: 100%;
    }

    .container>*+* {
        margin-left: 0;
        margin-top: 1.937rem;
    }

    .grad {
        margin-bottom: 14px;
    }

    .title {
        margin-bottom: 0.56rem;
    }

    .subtitle>*+* {
        margin-top: 2rem;
    }



}