.container {
    max-width: 100%;
    background: #fff;
    color: #000;
    font-family: 'Spezia';
    position: relative;
    margin-top: 2.25rem;
    padding: 2.25rem 10.625rem 8.625rem 10.625rem;
}

.formBox>* {
    display: inline-block;
    vertical-align: top;
    width: 45%
}

.formBox>section:nth-child(even) {
    margin-left: 5%;
}

.formBox>section:last-child {
    margin-left: 0%;
}

.formBox>section {
    margin-bottom: 3.18rem;
}

.phoneContainer {
    margin-top: 1.20rem;
}

.fullWidth {
    width: 100%;
}

.messagePlaceholder {
    margin-bottom: 0.625rem;
}

section.messageContainer {
    margin-bottom: 2rem;
}

.submitBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}

.submitBox>* {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.ttsFormBytext {
    position: relative;
    width: 50%;
    font-size: 0.75rem;
    line-height: 1.06rem;
    color: #3C3C3C;

}

.recaptcha {
    margin-top: -1rem;

}

.submit {
    margin: 0;
    width: 250px;
}


@media (max-width: 450px) {
    .container {
        padding: 0rem 1.5rem 2.5rem 1.5rem;
    }

    .formBox>* {
        width: 100%;
    }

    .formBox>*+* {
        margin-top: 1.875rem;
    }

    .formBox>section {
        margin-bottom: 0;
    }

    .formBox>section:nth-child(even) {
        margin-left: 0;
    }

    .inputLabel {
        margin-bottom: 0.5rem;
        line-height: 1.18rem;
        font-size: 0.87rem;

    }

    /* section.phoneContainer {
        margin: 3rem 0 1.5rem 0;
    } */

    section.phoneContainer>div {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 18px 14px;
    }

    .submitBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        width: 100%;
        position: relative;
    }

    .submitBox>* {
        display: block;
        width: 100%;
        position: relative;
    }

    .ttsFormBytext {
        padding-bottom: 1rem;
    }

    .recaptcha {
        margin-top: 0rem;
        margin-bottom: 1.875rem;
    }


    .submit {
        width: 100%;
    }



}