.container {
    padding: 0 4rem;
    color: #000;
    font-family: 'Spezia';
    font-size: 1.5rem;
    line-height: 2.18rem;
}

.title {
    width: 54rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3.18rem;
}

.accordions>*+* {
    margin-top: 1.1875rem;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.accordionTitle {
    display: inline-block;
    margin-bottom: 1.875rem;
}

.accordionBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.875rem 0;
    border-top: 1px solid #E3E3E3;
}

.accordionBlock:last-child {
    border-bottom: 1px solid #E3E3E3;
}

.accordionBlock>div:first-child {
    color: #5E79FB;
}

.accordionBlock>div:last-child {
    font-size: 0.875rem;
    line-height: 1.187rem;
}

.accordionBlock>* {
    display: inline-block;
}

.foldable {
    overflow: hidden;
    transition: all 1sec linear;
}

.opened {
    height: auto;
}

.closed {
    height: 0px;

}

@media (max-width: 450px) {
    .container {
        padding: 1.565rem;
        color: #000;
        font-family: 'Spezia';
        padding-bottom: 0px;
    }

    .title {
        width: 100%;
    }

    .accordionBlock {
        padding: 0.75rem 0;
    }

    .accordionTitle {
        margin-bottom: 0.75rem;
    }

    .accordionBlock>div:first-child {
        max-width: 70%;
        line-height: 1.5rem;
    }



}