.container {
    max-width: 100%;
    background: #fff;
    color: #000;
    font-family: 'Spezia';
    position: relative;
    padding: 50px 65px 60px 65px;
    font-size: 1.5rem;
    line-height: 2.18rem;
    margin-bottom: 3rem;

}

.title {
    padding-bottom: 1.25rem;
    border-bottom: thin solid #C6C6C6;
}

.distributorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 3.56rem;
}

.logoContainer {
    width: 25%;
    position: relative
}

.logo {
    width: 193px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.name {
    margin-bottom: 1.31rem;
}


.info {
    width: 75%;
    position: relative;
}

.attributes {
    width: 80%;
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}


.col {
    width: 50%;
}

.attributes>div {}

.attributes h4 {
    font-size: 0.9375rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Spezia'
}



@media (max-width: 450px) {
    .container {
        padding: 0px 25px 10px 25px;
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .logoContainer,
    .info {
        width: 50%;
    }

    .logo {
        width: 135px;
        display: inline-block;
        position: relative;
        top: 0;
        transform: translateY(0);
        max-width: 175px;

    }

    .attributes {
        width: 100%;
        display: block;
    }

    .attributes>div {
        width: 100%;
    }

    .wrapper {
        border-bottom: thin solid #C6C6C6;
        padding-bottom: 2.5rem;
    }

    .description {
        display: block;
        width: 100%;
    }

}