.navigationContainer {
  left: 0px;
  z-index: 100;
  width: 100%;
  padding: 30px 0px;
  background-color: transparent;
  position: absolute;
  transition: top 0.6s;
  font-family: 'Spezia';
  max-width: 100vw;

}

.hiddenNavigation {
  top: -190px;
}

.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0px 5px;
  height: 30px;
  max-height: 100px;
  font-size: 1rem;
  padding-left: 60px;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
}

.navigationItem:hover:before {
  width: 100%;
  display: block;
  position: absolute;
  top: -30px;
  content: '';
  /* background: red; */
  /* background: linear-gradient(180deg, #002557 0%, #35459C 24.48%, #B43996 41.67%, #D50032 60.42%, #FF3D45 78.65%, #FC9E21 95.83%), #C4C4C4; */
  height: 3px;
}


.navigationItem a {
  color: #FFF;
  text-transform: capitalize;
}

.logo {
  margin-right: auto;
  width: 189px;
  height: 55px;
  position: relative;
  top: -13px;
  cursor: pointer;
}

.caret {
  position: relative;
  cursor: pointer;
}

.caret:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  border-top: 6px solid #FFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 3px;
  border-top: 5px solid #FFF;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.caret:hover:before {
  border-top-color: #FFF;
}

.fixedNav {
  position: fixed;
}

.absoluePosition {
  position: absolute;
}

.solidNav {
  /* transition: background-color 0.3s ease; */
  background-color: #000;
}

.invertedNavigationItem {
  background-color: #FFF;
  padding: 10px;
  border-radius: 2px;
}

.invertedNavigationItem:hover:before {
  left: -2px
}

.invertedNavigationItem a {
  color: #35459C;
}

.nologo {
  color: #FFF;
  border: thin solid blue;
}

.mobileNav {
  display: none;
}

.mobileNav>div {
  cursor: pointer;
  display: inline-block;
}


.hidden {
  display: none;
}

.mobileNavigation {
  display: none;
}

.relative {
  position: relative;
}


@media (max-width: 450px) {


  .navigation {
    display: none;
  }

  .mobileNavigation {
    width: 100%;
    display: block;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
    padding: 0 1.9rem;
  }

  .mobileHeader>div {
    height: 21px;
  }

  .sideDrawer {
    margin-top: 2.125rem;
    position: relative;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 51px);
    color: #fff;
    background-color: #000;
    transition: display 0.5sec linear;
    padding: 0 1.9rem;
  }
}