.container {
    background: #000;
    color: #fff;
    font-family: 'Spezia';
    top: 90px;
    position: relative;
    padding: 50px 65px 60px 65px;
    margin-bottom: 90px;
    left: calc((1440px - 100vw)/2);
    width: 100vw;
}

@media (max-width: 1440px) {

    .container {
        left: 0;
        width: 100vw;
    }

}

@media (max-width: 450px) {
    .container {
        padding: 87px 25px 46px 25px;
        top: 0px;
        margin-bottom: 0px;
        left: 0px;
    }

}