.container {
    padding: 6.25rem 4rem;
    background-color: #f8f8f8;
    color: #000;
    overflow: hidden;
}

.title {
    font-size: 3.75rem;
    line-height: 4.125rem;
    font-family: 'SpeziaThin';
    font-weight: bold;
}

.container>*+* {
    margin-left: 15px;
}

.section {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    z-index: 2;
    position: relative;
}

.specList {
    margin-top: 42px;
    padding: 5px;
}

.specList>*+* {
    margin-top: 2.5rem;
}

.specBox {
    border-top: thin
}

.specTitle {
    font-size: 1.875rem;
    font-weight: bold;
    font-family: 'Spezia';
    margin-bottom: 1.31rem;
    line-height: 1.625rem;
}

.specDescription {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

.backdropImageSection {
    position: absolute;
    right: 0;
    width: 45%;
    padding-top: 0px;
    z-index: 1;
    height: 618px;
}

@media (max-width: 450px) {
    .container {
        padding: 1.875rem;
        position: relative;
        overflow: hidden;
    }

    .section {
        display: block;
        width: 100%;
        position: relative;
    }


    .section:first-child {
        z-index: 10;
    }

    .title {
        font-size: 2.18rem;
        line-height: 2.43rem;
        font-family: 'Spezia';
        width: 80%;
    }

    .specTitle {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }

    .specDescription {
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .backdropImageSection {
        position: absolute;
        right: -19px;
        width: 54%;
        top: -30px;
        height: 204px;
    }

}