.container {
    color: #000;
    font-size: 1rem;
    padding: 7.81rem 0px 2.8rem 0px;
    font-family: 'Spezia';
    /* min-height: calc(100vh); */
    position: relative;
    background-color: #f2f2f2;
}

.title {
    font-family: 'Spezia';
    font-size: 3.75rem;
    margin: auto;
    line-height: 110%;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    font-family: 'Spezia';
    margin: 0.625rem auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    width: 50rem;

}


.products {
    padding: 0px 3.125rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.backdrop {
    display: none;
    /* height: 57.5%;
    top: 28rem;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, #f8f8f8, #fafafa, #fbfcfb, #fdfdfd, #ffffff); */
}

@media (max-width: 450px) {
    .container {
        padding: 1.875rem;
        background-color: #f2f2f2;
    }

    .title {
        font-size: 2.18rem;
        margin: 0;
        line-height: 2.43rem;
        text-align: center;
        font-weight: 200;
    }

    .subtitle {
        margin: 1.06rem auto;
        text-align: center;
        font-size: 1rem;
        line-height: 1.43rem;
        text-align: center;
        width: auto;
    }

    /* .backdrop {
        display: none;
    } */

    .products {
        padding: 0rem;
        margin-top: 1.5rem;
        display: block;
        position: relative;
    }

}