.container {
    padding: 0 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
    line-height: 2.18rem;
}

.gradBorder {
    margin-bottom: 1.75rem;
}


.title {
    margin-bottom: 0.4rem;
}

.textBox {
    width: 19rem;
    display: inline-block;
    vertical-align: top;
}

.subtitle {
    margin-bottom: 1.625rem;
}

.carousal {
    display: inline-block;
    width: calc(100% - 19rem - 2.06rem);
    margin-left: 2.06rem;
}

.carousalImageContainer {
    width: 100%;
    height: 37.18rem;
}


@media (max-width: 450px) {

    .container {
        padding: 0 1.5rem;
        line-height: 1.43rem;
    }


    .title {
        margin-bottom: 0.4rem;
    }

    .textBox {
        width: 100%
    }

    .joinUsButton {
        width: 100%;
        margin-bottom: 1.875rem;
    }

    .textBox {
        width: 100%;
        display: block;
    }

    .subtitle {
        margin-bottom: 1.31rem;
    }

    .carousal {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 3.5rem;
    }

    .carousalImageContainer {
        width: 100%;
        height: 12.43rem;
    }

}