.container {
    padding: 4rem;
    max-width: 100%;
    font-family: 'Spezia';
    position: relative;
    line-height: 2.18rem;
}

.textBox {
    width: calc(100% - 593px + 3rem);
    display: inline-block;
    vertical-align: top;
}

.imageBox {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 593px;
    height: 837px;
}

.bottomAlign {
    vertical-align: bottom
}

.definition {
    margin-top: 6.25rem;
}

.noun {
    margin: 0 1.75rem;
}

.defList {
    margin-top: 0.8rem;
}

.defItem {
    max-width: calc(100vw - 593px - 8rem);
    width: 38rem;
}


.defList>*+* {
    margin-top: 1.437rem;
}


@media (max-width: 450px) {
    .container {
        padding: 1.562rem;
    }

    .textBox,
    .imageBox {
        display: block;
        width: 100%;
    }


    .defItem {
        width: 100%;
        max-width: 100%;
    }

    .imageBox {
        height: 530px;
        position: relative;
        margin-top: 1.875rem;
        width: 100vw;
        left: -1.875rem;
    }

    .definition {
        margin-top: 1.375rem;
    }

    .defList>*+* {
        margin-top: 1rem;
    }


}