@font-face {
  font-family: "SpeziaSemiBold";
  font-weight: 400;
  font-style: normal;
  src: url("/SpeziaWeb-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Spezia";
  font-weight: 400;
  font-style: normal;
  src: url("/SpeziaWeb-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SpeziaThin";
  font-weight: 400;
  font-style: normal;
  src: url("/SpeziaWeb-Thin.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Spezia", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  /* line-height: 2.18rem; */
  color: #000;
  background: #fff;
  margin: 0;
  padding: 0px;
  overflow-x: hidden;

}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2rem;
  font-weight: normal;
}

h1 {
  font-size: 7.5rem;
  line-height: 7.5rem;
}

h2 {
  font-size: 3.75rem;
  line-height: 4.125rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.43rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.19rem;
}

a {
  color: currentColor;
  text-decoration: none
}


/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4rem 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

a {
  color: #fff;
}

.inline-block {
  display: inline-block;
}

.steps {
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-left: 2.8125rem;
}

.steps li {
  counter-increment: my-awesome-counter;
  position: relative;
  list-style-position: inside;
  text-indent: -1.7rem;
}

.steps li::before {
  content: counter(my-awesome-counter);

  border-right: 1px solid #5E79FB;
  padding-right: 0.93rem;

  text-align: center;
  margin-right: 0.93rem;

}

.steps>*+* {
  margin-top: 2.625rem;
}


/* close commented backslash hack */


/* media queries */

@media (max-width: 500px) {

  body {
    font-size: 1rem;
    line-height: 1.18rem;
  }

  h1 {
    font-size: 3.125rem;
    line-height: 3.43rem;
  }

  h2 {
    font-size: 2.18rem;
    line-height: 2.43rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.43rem;
  }

  .steps {
    margin-left: 2.08rem;
    text-indent: -2rem;
  }

  .steps>*+* {
    margin-top: 0.93rem;
  }

  .steps li {
    text-indent: -1.9rem;
  }
}