.hero {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
}

.heroImage {
  height: 100vh;
  width: 100vw;
  max-height: 821px;
}

.heroDetails {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 60px;
  transform: translateY(-40%);
  padding: 0 0.5rem;
  height: 200px;
}


.heroHeadline {
  margin: 0;
}

.heroTitle {
  font-size: 120px;
  font-weight: bold;
  line-height: 120px;
  font-family: 'SpeziaThin';
}

.heroSubtitle {
  font-size: 24px;
  width: 70%;
  margin-top: 0.5rem;
}

.h1 {
  font-size: 120px;
}

.subtitle {
  font-size: 24px;
}

@media (max-width: 450px) {
  .heroTitle {
    font-size: 3.125rem;
    font-weight: bold;
    line-height: 3.43rem;
    font-family: 'Spezia';
    letter-spacing: 1px;
  }

  .heroSubtitle {
    font-size: 1rem;
    line-height: 1.43rem;
    margin-top: 1.18rem;
    font-family: 'Spezia';
    width: 100%;
    font-weight: bold;
  }

  .heroImage {
    height: 100vh;
  }

  .heroDetails {
    position: absolute;
    top: 55%;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 0.5rem;
    height: 125px;
    padding: 0 1.875rem;
    left: 0px
  }
}