.container {
    padding: 4rem;
    color: #000;
    font-family: 'Spezia';
    margin-top: 2.18rem;
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}


.title {
    margin-top: 1.1875rem;
    margin-bottom: 2rem;

}

.featureTitle {
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
    font-weight: bold;

}

.featureSubtitle {
    font-size: 1.5rem;
    line-height: 2.18rem;

}

.feature {
    width: 30vw;
    text-align: center;
    width: 26rem;
    margin-bottom: 2.5rem;
    /* display: inline-block */
}

.featureImage {
    width: 110px;
    display: inline;
}

.talkToSales {
    text-align: center;
    margin-top: 3.6rem;
}

@media (max-width: 450px) {
    .container {
        padding: 2rem;
        padding-bottom: 0;
    }

    .feature {
        margin-bottom: 0;
    }

    .features>*+* {
        margin-top: 2rem;

    }

    .title {
        font-size: 2.18rem;
        line-height: 2.43rem;
    }

    .featureTitle {
        font-size: 1.25rem;
        line-height: 1.56rem;
    }

    .featureSubtitle {
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .tts {
        width: 100%;
        margin: 0
    }

}