.logo {
    width: 58px;
    height: 35px;
    margin-bottom: 5px;
}

.copyrightText {
    font-size: 0.625rem;
    line-height: 13px;
    width: 90px;
    color: #828282;
    top: -10px;
    position: relative;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.termsAndPrivacy div {
    color: #C6C6C6;
    font-size: 0.6em;
}

.termsAndPrivacy>*+* {
    margin-top: 1.4em;
}


.section {
    display: inline-block;
}

.linkSection {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8125em;
    --space: 1rem;
}

/* .linkSection>* {
    margin: 0;
}

.linkSection *+* {
    margin-top: var(--space);
} */



.linkContainer {
    vertical-align: top;
    margin-left: 80px
}



.link {
    flex-grow: 1;
    width: 33%;
    padding-bottom: 10px;
}

.link:nth-last-child(-n+3) {
    padding-bottom: 0px;
}

.termsAndPrivacy a {
    color: #c6c6c6;
}

@media (max-width: 450px) {

    .linkContainer {
        margin: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
        padding: 2.187rem 0;
    }

    .mobileLinkSection {
        display: inline-block;
        font-size: 1rem;
        line-height: 1.43rem;
        text-transform: uppercase;
    }

    .link {
        width: 100%;
        position: relative;
        padding-bottom: 0px;
    }

    .mobileLinkSection>*+* {
        margin-top: 1rem;
    }

    .talkToSales {
        margin: 0 auto;
        width: 100%
    }

    .logoSection {
        margin-top: 1.875rem;
        text-align: center;
    }

    .logo {
        width: 67px;
        height: 39px;
        display: inline-block;
    }

    .copyrightText {
        display: inline-block;
        font-size: 0.687rem;
        line-height: 13px;
        width: 100px;
        color: #828282;
        top: -15px;
    }

    .termsAndPrivacy {
        display: flex;
        justify-content: space-between;
        margin-top: 1.56rem;
    }

    .termsAndPrivacy div {
        font-size: 0.68em;
        display: inline-block;
        margin-top: 0px;
        color: #c6c6c6;
    }


}