.container {
    position: relative;
    width: 100%;
    margin-bottom: 2.5rem;
}

.sidebarWrapper {
    margin: 3.68rem 0 0 4.18rem;
}

.withSidebar {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
}



.sidebar {
    height: calc(100vh - 266px);
    top: 266px;
    /* position: -webkit-sticky;
    position: sticky; */

}

.mainContent {
    width: 75%;
    position: relative;
}

.sidebarDesc {
    font-size: 1.5rem;
    line-height: 2.18rem;
    margin-bottom: 2.5rem;
    color: #3C3C3C;
    font-weight: lighter;
}

.indicator {
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: baseline;
    margin-right: 1rem;
}

.links {
    font-weight: bold;
}

.links span {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}


@media (max-width: 450px) {
    .container {
        position: relative;
    }

    .mobileTopBar {
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        padding: 15px 15px;
        font-size: 0.75rem;
    }

    .mobileTopBar>*+* {
        margin-left: 0.2rem;
    }


    .mobileTopBar img {
        margin-right: 0.25rem;

    }

    .mainContent {
        width: 100%
    }


    .withSidebar {
        top: 0px;
    }
}