.container {
    padding: 0 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
    line-height: 2.18rem;
}


.title {
    text-align: center;
    margin-bottom: 1.0625rem;
}

.profiles {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: space-around;
    text-align: center;
    padding: 0 1%; */
    text-align: center
}

.profiles>*+* {
    margin-left: 2rem;
}

.profile {
    display: inline-block;
    margin-bottom: 2.3125rem;
}

.headshot {
    width: 304px;
    height: 350px;
}

.designation {
    margin: 1.625rem 0 0.5rem 0;
    font-size: 0.937rem;
    line-height: 1.18rem;
    text-transform: uppercase;
    font-family: 'SpeziaSemiBold';
}


@media (max-width: 450px) {

    .container {
        padding: 0 1.43rem;
    }

    .headshot {
        width: 155px;
        height: 178.45px;
    }

    .profiles>*+* {
        margin-left: 0;
    }

    .profile:nth-child(even) {
        margin-left: 1.06rem;
    }

    .designation {
        width: 9.7rem;
        margin: 1.25rem 0 0.5rem 0;
    }

    .name {
        line-height: 0.8rem;
    }
}