.container {
    padding: 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
}

.imageBox {
    width: 100%;
    height: 615px;
    position: relative;
}

.textBox {
    margin: 5.875rem auto;
    width: 54rem;
    line-height: 2.18rem;
    position: relative;
    margin-bottom: 0;
}

.byText {
    position: absolute;
    bottom: 6rem;
    right: 6rem;
    color: #fff;
    display: inline-block;
    width: 416px;
    line-height: 2.18rem;
}

.name {
    margin-top: 1.31rem;
}

.designation {
    margin-top: 0.5rem;
    font-family: 'SpeziaSemiBold';
    font-size: 0.93rem;
    font-weight: bold;
}


@media (max-width: 450px) {

    .container {
        padding: 1.875rem;
        padding-top: 0px;
    }

    .textBox {
        margin: 0;
        width: 100%;
        line-height: 1.43rem;
        position: relative;
        margin-top: 1.875rem;
    }

    .byText {
        position: absolute;
        left: 1.56rem;
        bottom: 0.937rem;
        color: #fff;
        display: inline-block;
        width: calc(100vw - 3.75rem);
        right: auto;
        line-height: 1.43rem;

    }

    .imageBox {
        width: 100vw;
        left: -1.875rem;
        position: relative;
        height: 251px;
    }

    .name {
        margin-top: 0.56rem;
        position: relative;
        display: inline-block;
    }

    .designation {
        margin-top: 0;
        display: inline-block;
        margin-left: 1rem;
    }

}