.container {
    padding: 4rem;
    color: #000;
    font-family: 'Spezia';
}

.container>div>* {
    display: inline-block;
    vertical-align: top;
}

.variantNames {
    width: 30%;
}

.variantNames>*+* {
    margin-top: 2.375rem;
}

.variantContainer {
    padding-left: 1.875rem;
    border-left: 1px solid #E3E3E3;
}

.variantName {
    background: -webkit-linear-gradient(#B33A95, #754099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frontImageContainer {
    width: 40%;
    text-align: center
}

.variantPrice {
    font-size: 1.5rem;
    line-height: 2.18rem;
}

.frontImage {
    width: 504px;
    height: 553px;
}

.ttsContainer {
    width: 30%;
    padding-top: 8.25rem;

}

.ttsContainer>*+* {
    margin-top: 1.25rem;
}

.volPricingText {
    font-size: 1.5rem;
    line-height: 1.81rem;

}

.gradBorder {
    margin-bottom: 99px;
}

@media (max-width: 450px) {
    .container {
        padding: 2rem;
        padding-bottom: 0;
    }

    .frontImageContainer,
    .variantNames,
    .ttsContainer {
        width: 100%;
    }

    .frontImageContainer {
        margin-left: -0.75rem;
    }

    .frontImage {
        width: 100%;
        height: 330px;
    }

    .gradBorder {
        margin-bottom: 50px;
    }

    .variantName {
        font-size: 3.125rem;
        line-height: 3.43rem;
    }

    .variantContainer {
        padding-left: 0;
        border-left: none;
        text-align: center;
    }

    .variantPrice {
        font-size: 1rem;
        line-height: 1.43rem;
        width: 70%;
        margin: 0 auto;
    }

    .variantNames>*+*::before {
        display: block;
        content: '';
        background: silver;
        height: 1px;
        width: 20%;
        margin: 30px auto;

    }

    .ttsContainer {
        padding-top: 1.875rem;
        text-align: center;
    }

    .ttsContainer>* {
        width: 90%
    }

    .volPricingText {
        text-align: center;
        margin: 1.68rem auto;
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: normal;
    }
}