.container {
    max-width: 100%;
    background: #fff;
    color: #000;
    font-family: 'Spezia';
    top: 90px;
    position: relative;
    padding: 50px 65px 60px 65px;
    font-size: 1.5rem;
    line-height: 2.18rem;
}

.title {
    text-align: center;
    width: 757px;
    margin: 0 auto;
}

.subtitle {
    width: 972px;
    text-align: center;
    margin: 3rem auto;
}

@media (max-width: 450px) {
    .container {
        padding: 45px 25px 46px 25px;
        font-size: 1rem;
        line-height: 1.43rem;
        top: 0px;
    }

    .title,
    .subtitle {
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .subtitle {
        margin-top: 1rem;
    }

}