.container {
    padding: 4rem;
    width: 100%;
    color: #000;
    font-family: 'Spezia';
    position: relative;
}

.descriptionBox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 640px;
    height: 713px;

}

.vCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.imageBox {
    height: 750px;
    width: 50%;
    max-width: 640px;
    position: absolute;
    right: 0px;
    top: 0px;
}


.title {
    margin-bottom: 1.56rem;
}


@media (max-width: 450px) {

    .container {
        padding: 1.875rem;
    }

    .descriptionBox,
    .imageBox {
        display: block;
        width: 100%;
        position: relative;
    }

    .descriptionBox {
        height: auto;
        margin-bottom: 1.56rem;
    }

    .vCenter {
        position: relative;
        top: 0;
        transform: translateY(0%);
    }

    .subtitle {
        line-height: 1.43rem;
    }

    .imageBox {
        position: relative;
        width: 100vw;
        left: -1.875rem;
        height: 550px;
    }
}